.icon-hover-primary:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
}

.icon-hover-primary:hover i {
    color: #3b71ca !important;
}

.icon-hover-danger:hover {
    border-color: #dc4c64 !important;
    background-color: white !important;
}

.icon-hover-danger:hover i {
    color: #dc4c64 !important;.icon-hover-primary:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
}

.icon-hover-primary:hover i {
    color: #3b71ca !important;
}

.icon-hover-danger:hover {
    border-color: #dc4c64 !important;
    background-color: white !important;
}

.icon-hover-danger:hover i {
    color: #dc4c64 !important;
}

#plus,
#minus {
    cursor: pointer;
    margin: 0 10px;
}

#rcounter {
    /* height: 31%; */

    border: 1px solid #0c2a5c;
    display: flex;
    justify-content: center;
    height: 31%;
    /* border: 1px solid #0c2a5c; */
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column
}

.error {
    color: red;
    width: 100%;
}

.suc {
    color: green;
    width: 100%;
}
}

#plus,
#minus {
    cursor: pointer;
    margin: 0 10px;
}

.counter {
    /* height: 31%; */

    /* border: 1px solid #0c2a5c; */
    /* display: flex; */
    justify-content: center;
    height: 31%;
    /* border: 1px solid #0c2a5c; */
    /* display: flex; */
    justify-content: center;
    width: 100%;
    /* flex-direction: column */
}
p{
    color: black !important;
}
.nav-link{
    color: #0c2a5c;
    font-weight: bold;
    font-size: 22px;

}
.qt{
    color: gold;
    font-size: 20px;
}
.error {
    color: red;
    width: 100%;
}
.counter span{
    display: inline;
}
.suc {
    color: green;
    width: 100%;
}
@media (max-width:992px) {
    .qt-minus{
        margin-left: 28px;
    }
.counter {
    flex-direction: row


}
.counter span{
padding: 0 10px;
}

}
.shop-product-wrap.grid .product-slide_item .inner-slide .single-product .product-img img{
    height: 200px !important;
}
.shop-product-wrap.grid.gridview-2 > [class*="col-"]{
    max-width: none !important;
}